<%= render "/layouts/navbar" %>

<div class="container">
  <% @event.each do |event| %><br>
    <div class="card">
    <header class="card-header">
      <p class="card-header-title">
        <%= event.title %>
      </p>
    </header>
    <footer class="card-footer">
      <%= link_to "Show details", event_path(event.id), class: "card-footer-item" %>
    </footer>
    </div>
  <% end %>
</div>